<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.ProfitLogMapper" >
  <resultMap id="BaseResultMap" type="com.example.model.ProfitLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="member_level" property="memberLevel" jdbcType="SMALLINT" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="money_type" property="moneyType" jdbcType="TINYINT" />
    <result column="from_order_id" property="fromOrderId" jdbcType="INTEGER" />
    <result column="from_member_id" property="fromMemberId" jdbcType="INTEGER" />
    <result column="from_member_level" property="fromMemberLevel" jdbcType="SMALLINT" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="INTEGER" />
    <result column="updated_at" property="updatedAt" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, member_id, member_level, type, money_type, from_order_id, from_member_id, from_member_level, 
    money, remark, status, created_at, updated_at
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.model.ProfitLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from s_profit_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from s_profit_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from s_profit_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.model.ProfitLogExample" >
    delete from s_profit_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.model.ProfitLog" >
    insert into s_profit_log (id, member_id, member_level, 
      type, money_type, from_order_id, 
      from_member_id, from_member_level, money, 
      remark, status, created_at, 
      updated_at)
    values (#{id,jdbcType=BIGINT}, #{memberId,jdbcType=INTEGER}, #{memberLevel,jdbcType=SMALLINT}, 
      #{type,jdbcType=TINYINT}, #{moneyType,jdbcType=TINYINT}, #{fromOrderId,jdbcType=INTEGER}, 
      #{fromMemberId,jdbcType=INTEGER}, #{fromMemberLevel,jdbcType=SMALLINT}, #{money,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createdAt,jdbcType=INTEGER}, 
      #{updatedAt,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.model.ProfitLog" >
    insert into s_profit_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="memberLevel != null" >
        member_level,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="moneyType != null" >
        money_type,
      </if>
      <if test="fromOrderId != null" >
        from_order_id,
      </if>
      <if test="fromMemberId != null" >
        from_member_id,
      </if>
      <if test="fromMemberLevel != null" >
        from_member_level,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberLevel != null" >
        #{memberLevel,jdbcType=SMALLINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="moneyType != null" >
        #{moneyType,jdbcType=TINYINT},
      </if>
      <if test="fromOrderId != null" >
        #{fromOrderId,jdbcType=INTEGER},
      </if>
      <if test="fromMemberId != null" >
        #{fromMemberId,jdbcType=INTEGER},
      </if>
      <if test="fromMemberLevel != null" >
        #{fromMemberLevel,jdbcType=SMALLINT},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=INTEGER},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.model.ProfitLogExample" resultType="java.lang.Integer" >
    select count(*) from s_profit_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update s_profit_log
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.memberId != null" >
        member_id = #{record.memberId,jdbcType=INTEGER},
      </if>
      <if test="record.memberLevel != null" >
        member_level = #{record.memberLevel,jdbcType=SMALLINT},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.moneyType != null" >
        money_type = #{record.moneyType,jdbcType=TINYINT},
      </if>
      <if test="record.fromOrderId != null" >
        from_order_id = #{record.fromOrderId,jdbcType=INTEGER},
      </if>
      <if test="record.fromMemberId != null" >
        from_member_id = #{record.fromMemberId,jdbcType=INTEGER},
      </if>
      <if test="record.fromMemberLevel != null" >
        from_member_level = #{record.fromMemberLevel,jdbcType=SMALLINT},
      </if>
      <if test="record.money != null" >
        money = #{record.money,jdbcType=DECIMAL},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createdAt != null" >
        created_at = #{record.createdAt,jdbcType=INTEGER},
      </if>
      <if test="record.updatedAt != null" >
        updated_at = #{record.updatedAt,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update s_profit_log
    set id = #{record.id,jdbcType=BIGINT},
      member_id = #{record.memberId,jdbcType=INTEGER},
      member_level = #{record.memberLevel,jdbcType=SMALLINT},
      type = #{record.type,jdbcType=TINYINT},
      money_type = #{record.moneyType,jdbcType=TINYINT},
      from_order_id = #{record.fromOrderId,jdbcType=INTEGER},
      from_member_id = #{record.fromMemberId,jdbcType=INTEGER},
      from_member_level = #{record.fromMemberLevel,jdbcType=SMALLINT},
      money = #{record.money,jdbcType=DECIMAL},
      remark = #{record.remark,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      created_at = #{record.createdAt,jdbcType=INTEGER},
      updated_at = #{record.updatedAt,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.model.ProfitLog" >
    update s_profit_log
    <set >
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="memberLevel != null" >
        member_level = #{memberLevel,jdbcType=SMALLINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="moneyType != null" >
        money_type = #{moneyType,jdbcType=TINYINT},
      </if>
      <if test="fromOrderId != null" >
        from_order_id = #{fromOrderId,jdbcType=INTEGER},
      </if>
      <if test="fromMemberId != null" >
        from_member_id = #{fromMemberId,jdbcType=INTEGER},
      </if>
      <if test="fromMemberLevel != null" >
        from_member_level = #{fromMemberLevel,jdbcType=SMALLINT},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=INTEGER},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.model.ProfitLog" >
    update s_profit_log
    set member_id = #{memberId,jdbcType=INTEGER},
      member_level = #{memberLevel,jdbcType=SMALLINT},
      type = #{type,jdbcType=TINYINT},
      money_type = #{moneyType,jdbcType=TINYINT},
      from_order_id = #{fromOrderId,jdbcType=INTEGER},
      from_member_id = #{fromMemberId,jdbcType=INTEGER},
      from_member_level = #{fromMemberLevel,jdbcType=SMALLINT},
      money = #{money,jdbcType=DECIMAL},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=INTEGER},
      updated_at = #{updatedAt,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getOrder" resultMap="BaseResultMap" >
    select * from s_profit_log where member_id = #{memberId} and member_level <![CDATA[>]]> 3 and type = 1 and from_member_level <![CDATA[<]]> 4
    and left(from_unixtime(created_at), 7) = #{month}
    group by from_order_id
  </select>
</mapper>