<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.V3MemberInfoMapper" >
  <resultMap id="BaseResultMap" type="com.example.model.V3MemberInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="r_member_id" property="rMemberId" jdbcType="INTEGER" />
    <result column="layer" property="layer" jdbcType="INTEGER" />
    <result column="relation" property="relation" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="trade_password" property="tradePassword" jdbcType="VARCHAR" />
    <result column="true_name" property="trueName" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="head_img" property="headImg" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="can_change_remember" property="canChangeRemember" jdbcType="BIT" />
    <result column="poster_url" property="posterUrl" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="sp_member_id" property="spMemberId" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="recommeded_at" property="recommededAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, r_member_id, layer, relation, mobile, password, trade_password, true_name, nickname, 
    head_img, gender, can_change_remember, poster_url, status, sp_member_id, created_at, 
    updated_at, recommeded_at
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.model.V3MemberInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from member_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from member_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from member_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.model.V3MemberInfoExample" >
    delete from member_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.model.V3MemberInfo" >
    insert into member_info (id, r_member_id, layer, 
      relation, mobile, password, 
      trade_password, true_name, nickname, 
      head_img, gender, can_change_remember, 
      poster_url, status, sp_member_id, 
      created_at, updated_at, recommeded_at
      )
    values (#{id,jdbcType=INTEGER}, #{rMemberId,jdbcType=INTEGER}, #{layer,jdbcType=INTEGER}, 
      #{relation,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{tradePassword,jdbcType=VARCHAR}, #{trueName,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{headImg,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER}, #{canChangeRemember,jdbcType=BIT}, 
      #{posterUrl,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, #{spMemberId,jdbcType=INTEGER}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, #{recommededAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.model.V3MemberInfo" >
    insert into member_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="rMemberId != null" >
        r_member_id,
      </if>
      <if test="layer != null" >
        layer,
      </if>
      <if test="relation != null" >
        relation,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="tradePassword != null" >
        trade_password,
      </if>
      <if test="trueName != null" >
        true_name,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="headImg != null" >
        head_img,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="canChangeRemember != null" >
        can_change_remember,
      </if>
      <if test="posterUrl != null" >
        poster_url,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="spMemberId != null" >
        sp_member_id,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="recommededAt != null" >
        recommeded_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rMemberId != null" >
        #{rMemberId,jdbcType=INTEGER},
      </if>
      <if test="layer != null" >
        #{layer,jdbcType=INTEGER},
      </if>
      <if test="relation != null" >
        #{relation,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="tradePassword != null" >
        #{tradePassword,jdbcType=VARCHAR},
      </if>
      <if test="trueName != null" >
        #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null" >
        #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="canChangeRemember != null" >
        #{canChangeRemember,jdbcType=BIT},
      </if>
      <if test="posterUrl != null" >
        #{posterUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="spMemberId != null" >
        #{spMemberId,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="recommededAt != null" >
        #{recommededAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.model.V3MemberInfoExample" resultType="java.lang.Integer" >
    select count(*) from member_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update member_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.rMemberId != null" >
        r_member_id = #{record.rMemberId,jdbcType=INTEGER},
      </if>
      <if test="record.layer != null" >
        layer = #{record.layer,jdbcType=INTEGER},
      </if>
      <if test="record.relation != null" >
        relation = #{record.relation,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null" >
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.tradePassword != null" >
        trade_password = #{record.tradePassword,jdbcType=VARCHAR},
      </if>
      <if test="record.trueName != null" >
        true_name = #{record.trueName,jdbcType=VARCHAR},
      </if>
      <if test="record.nickname != null" >
        nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.headImg != null" >
        head_img = #{record.headImg,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null" >
        gender = #{record.gender,jdbcType=INTEGER},
      </if>
      <if test="record.canChangeRemember != null" >
        can_change_remember = #{record.canChangeRemember,jdbcType=BIT},
      </if>
      <if test="record.posterUrl != null" >
        poster_url = #{record.posterUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.spMemberId != null" >
        sp_member_id = #{record.spMemberId,jdbcType=INTEGER},
      </if>
      <if test="record.createdAt != null" >
        created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedAt != null" >
        updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.recommededAt != null" >
        recommeded_at = #{record.recommededAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update member_info
    set id = #{record.id,jdbcType=INTEGER},
      r_member_id = #{record.rMemberId,jdbcType=INTEGER},
      layer = #{record.layer,jdbcType=INTEGER},
      relation = #{record.relation,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      trade_password = #{record.tradePassword,jdbcType=VARCHAR},
      true_name = #{record.trueName,jdbcType=VARCHAR},
      nickname = #{record.nickname,jdbcType=VARCHAR},
      head_img = #{record.headImg,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=INTEGER},
      can_change_remember = #{record.canChangeRemember,jdbcType=BIT},
      poster_url = #{record.posterUrl,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=BIT},
      sp_member_id = #{record.spMemberId,jdbcType=INTEGER},
      created_at = #{record.createdAt,jdbcType=TIMESTAMP},
      updated_at = #{record.updatedAt,jdbcType=TIMESTAMP},
      recommeded_at = #{record.recommededAt,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.model.V3MemberInfo" >
    update member_info
    <set >
      <if test="rMemberId != null" >
        r_member_id = #{rMemberId,jdbcType=INTEGER},
      </if>
      <if test="layer != null" >
        layer = #{layer,jdbcType=INTEGER},
      </if>
      <if test="relation != null" >
        relation = #{relation,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="tradePassword != null" >
        trade_password = #{tradePassword,jdbcType=VARCHAR},
      </if>
      <if test="trueName != null" >
        true_name = #{trueName,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null" >
        head_img = #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="canChangeRemember != null" >
        can_change_remember = #{canChangeRemember,jdbcType=BIT},
      </if>
      <if test="posterUrl != null" >
        poster_url = #{posterUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="spMemberId != null" >
        sp_member_id = #{spMemberId,jdbcType=INTEGER},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="recommededAt != null" >
        recommeded_at = #{recommededAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.model.V3MemberInfo" >
    update member_info
    set r_member_id = #{rMemberId,jdbcType=INTEGER},
      layer = #{layer,jdbcType=INTEGER},
      relation = #{relation,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      trade_password = #{tradePassword,jdbcType=VARCHAR},
      true_name = #{trueName,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      head_img = #{headImg,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      can_change_remember = #{canChangeRemember,jdbcType=BIT},
      poster_url = #{posterUrl,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      sp_member_id = #{spMemberId,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      recommeded_at = #{recommededAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>